In [83]:
import pandas as pd

In [84]:
mortecovid = pd.read_csv(r'C:\Users\pamel\OneDrive\Documentos\Pos IA\Trabalho final\archive (3)\owid-covid-data.csv')

In [85]:
mortecovid

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321994,ZWE,Africa,Zimbabwe,2023-06-24,265413.0,0.0,17.714,5707.0,0.0,0.714,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
321995,ZWE,Africa,Zimbabwe,2023-06-25,265413.0,0.0,17.714,5707.0,0.0,0.714,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
321996,ZWE,Africa,Zimbabwe,2023-06-26,265413.0,0.0,0.000,5707.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
321997,ZWE,Africa,Zimbabwe,2023-06-27,265413.0,0.0,0.000,5707.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
321998,ZWE,Africa,Zimbabwe,2023-06-28,265413.0,0.0,0.000,5707.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [86]:
pobreza = pd.read_csv(r'C:\Users\pamel\OneDrive\Documentos\Pos IA\Trabalho final\archive (4)\global_poverty_inequality_data.csv')

In [87]:
pobreza

,region,year,gini,atk5,atk1,d9010,d9050,d8020,poorAll4,poorAll5,...,poorE5,poorE6,d5075,d75150,d150,poortp,poorsm,pkidsm,eymed,average
0,Australia,2018,0.329,0.094,0.183,4.282,1.971,2.619,6.198,12.574,...,25.607,43.772,20.475,50.300,16.176,8.767,36.049,14.715,5.308534e+04,6.216712e+04
1,Australia,2016,0.326,0.091,0.179,4.248,2.018,2.672,5.589,12.441,...,25.915,42.233,22.046,47.793,17.755,8.802,32.607,13.211,5.052121e+04,5.941235e+04
2,Australia,2014,0.329,0.094,0.183,4.268,1.995,2.593,5.579,12.465,...,26.495,44.196,21.745,49.632,17.200,7.815,29.926,14.214,4.980071e+04,5.848093e+04
3,Australia,2010,0.333,0.094,0.186,4.529,2.037,2.779,6.081,14.059,...,33.628,50.175,21.483,48.603,15.494,9.564,37.517,16.326,4.195126e+04,4.952042e+04
4,Australia,2008,0.335,0.096,0.186,4.501,1.992,2.700,7.060,14.235,...,37.151,51.537,22.028,50.296,14.832,7.922,36.909,15.731,4.031660e+04,4.725308e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,Vietnam,2013,0.350,0.100,0.188,4.941,2.149,2.799,7.769,14.481,...,23.747,31.230,19.955,42.788,20.269,16.480,20.070,12.817,5.470000e+07,6.630000e+07
655,Vietnam,2011,0.364,0.110,0.200,4.856,2.197,2.820,6.949,13.087,...,23.018,30.152,22.093,40.834,21.416,14.862,22.170,11.822,4.430000e+07,5.570000e+07
656,Vietnam,2009,0.398,0.133,0.233,5.383,2.485,2.936,6.390,12.280,...,20.570,29.406,23.653,39.541,21.962,13.908,22.240,10.518,2.910000e+07,3.930000e+07
657,Vietnam,2007,0.401,0.136,0.235,5.124,2.460,2.849,5.141,11.405,...,20.922,27.991,25.141,40.088,21.527,12.312,20.059,12.247,2.050000e+07,2.820000e+07
658,Vietnam,2005,0.369,0.113,0.201,4.739,2.361,2.712,4.355,10.157,...,18.254,26.298,24.408,42.910,20.563,11.535,16.765,11.938,1.450000e+07,1.910000e+07

In [88]:
merged_df = pd.merge(mortecovid, pobreza, left_on='location', right_on='region')

In [89]:
merged_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,poorE5,poorE6,d5075,d75150,d150,poortp,poorsm,pkidsm,eymed,average
0,AUS,Oceania,Australia,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,25.607,43.772,20.475,50.300,16.176,8.767,36.049,14.715,5.308534e+04,6.216712e+04
1,AUS,Oceania,Australia,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,25.915,42.233,22.046,47.793,17.755,8.802,32.607,13.211,5.052121e+04,5.941235e+04
2,AUS,Oceania,Australia,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,26.495,44.196,21.745,49.632,17.200,7.815,29.926,14.214,4.980071e+04,5.848093e+04
3,AUS,Oceania,Australia,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,33.628,50.175,21.483,48.603,15.494,9.564,37.517,16.326,4.195126e+04,4.952042e+04
4,AUS,Oceania,Australia,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,37.151,51.537,22.028,50.296,14.832,7.922,36.909,15.731,4.031660e+04,4.725308e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825011,VNM,Asia,Vietnam,2023-06-28,11620076.0,0.0,69.714,43206.0,0.0,0.0,...,23.747,31.230,19.955,42.788,20.269,16.480,20.070,12.817,5.470000e+07,6.630000e+07
825012,VNM,Asia,Vietnam,2023-06-28,11620076.0,0.0,69.714,43206.0,0.0,0.0,...,23.018,30.152,22.093,40.834,21.416,14.862,22.170,11.822,4.430000e+07,5.570000e+07
825013,VNM,Asia,Vietnam,2023-06-28,11620076.0,0.0,69.714,43206.0,0.0,0.0,...,20.570,29.406,23.653,39.541,21.962,13.908,22.240,10.518,2.910000e+07,3.930000e+07
825014,VNM,Asia,Vietnam,2023-06-28,11620076.0,0.0,69.714,43206.0,0.0,0.0,...,20.922,27.991,25.141,40.088,21.527,12.312,20.059,12.247,2.050000e+07,2.820000e+07
825015,VNM,Asia,Vietnam,2023-06-28,11620076.0,0.0,69.714,43206.0,0.0,0.0,...,18.254,26.298,24.408,42.910,20.563,11.535,16.765,11.938,1.450000e+07,1.910000e+07

In [90]:
merged_df = merged_df.dropna(subset=['total_deaths'])

In [91]:
merged_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,poorE5,poorE6,d5075,d75150,d150,poortp,poorsm,pkidsm,eymed,average
708,AUS,Oceania,Australia,2020-03-02,29.0,4.0,1.000,1.0,1.0,0.143,...,25.607,43.772,20.475,50.300,16.176,8.767,36.049,14.715,5.308534e+04,6.216712e+04
709,AUS,Oceania,Australia,2020-03-02,29.0,4.0,1.000,1.0,1.0,0.143,...,25.915,42.233,22.046,47.793,17.755,8.802,32.607,13.211,5.052121e+04,5.941235e+04
710,AUS,Oceania,Australia,2020-03-02,29.0,4.0,1.000,1.0,1.0,0.143,...,26.495,44.196,21.745,49.632,17.200,7.815,29.926,14.214,4.980071e+04,5.848093e+04
711,AUS,Oceania,Australia,2020-03-02,29.0,4.0,1.000,1.0,1.0,0.143,...,33.628,50.175,21.483,48.603,15.494,9.564,37.517,16.326,4.195126e+04,4.952042e+04
712,AUS,Oceania,Australia,2020-03-02,29.0,4.0,1.000,1.0,1.0,0.143,...,37.151,51.537,22.028,50.296,14.832,7.922,36.909,15.731,4.031660e+04,4.725308e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825011,VNM,Asia,Vietnam,2023-06-28,11620076.0,0.0,69.714,43206.0,0.0,0.000,...,23.747,31.230,19.955,42.788,20.269,16.480,20.070,12.817,5.470000e+07,6.630000e+07
825012,VNM,Asia,Vietnam,2023-06-28,11620076.0,0.0,69.714,43206.0,0.0,0.000,...,23.018,30.152,22.093,40.834,21.416,14.862,22.170,11.822,4.430000e+07,5.570000e+07
825013,VNM,Asia,Vietnam,2023-06-28,11620076.0,0.0,69.714,43206.0,0.0,0.000,...,20.570,29.406,23.653,39.541,21.962,13.908,22.240,10.518,2.910000e+07,3.930000e+07
825014,VNM,Asia,Vietnam,2023-06-28,11620076.0,0.0,69.714,43206.0,0.0,0.000,...,20.922,27.991,25.141,40.088,21.527,12.312,20.059,12.247,2.050000e+07,2.820000e+07
825015,VNM,Asia,Vietnam,2023-06-28,11620076.0,0.0,69.714,43206.0,0.0,0.000,...,18.254,26.298,24.408,42.910,20.563,11.535,16.765,11.938,1.450000e+07,1.910000e+07

In [92]:
merged_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million', 'region',
       'year', 'gini', 'atk5', 'atk1', 'd9010', 'd9050', 'd8020', 'poorAll4',
       'poorAll5', 'poorAll6', 'poorK4', 'poorK5', 'poorK6', 'poorE4',
       'poorE5', 'poorE6', 'd5075', 'd75150', 'd150', 'poortp', 'poorsm',
       'pkidsm', 'eymed', 'average'],
      dtype='object')

In [93]:
merged_df = merged_df[['continent', 'location', 'total_cases']]

In [94]:
nan_proportion = merged_df.isna().mean()
nan_proportion

continent      0.000000
location       0.000000
total_cases    0.000021
dtype: float64